@tailwind base;
@tailwind components;
@tailwind utilities;

.answer {
  display: flex;
  border-radius: 8px;
  padding: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.25rem;
  min-width: 110px;
  color: #fff;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  transition: all 0.4s linear;
}

.answer:hover {
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.answer.selected {
  color: #fff;
  background-color: rgb(30 100 240 / var(--tw-bg-opacity));
}
